Repository ebiyy/traylingo: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, rust-fmt, rust-clippy, toml-fmt

typecheck:
  run: pnpm typecheck

lint:
  run: pnpm biome check --staged --no-errors-on-unmatched

rust-fmt:
  run: cargo fmt --manifest-path src-tauri/Cargo.toml -- --check

rust-clippy:
  run: cargo clippy --manifest-path src-tauri/Cargo.toml -- -D warnings

toml-fmt:
  run: taplo fmt --check src-tauri/Cargo.toml
  skip:
  - run: '! command -v taplo > /dev/null'

chore: update Cargo.lock for v0.1.3
  src-tauri/Cargo.lock
Due: none

refactor(settings): simplify save logic with auto-save
  src/components/Settings.tsx
Due: typecheck, lint

docs: update documentation for Keychain storage
  PRIVACY.md
  README.md
  SECURITY.md
  src-tauri/src/settings.rs
Due: rust-fmt, rust-clippy

docs: clarify language support status
  README.md
  ROADMAP.md
Due: none

docs: add Sentry Performance Monitoring to the roadmap
  ROADMAP.md
Due: none

chore: prepare release v0.1.4
  CHANGELOG.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: lint, toml-fmt

Release: v0.1.4 (#52)
  .serena/memories/codebase_structure.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  CHANGELOG.md
  PRIVACY.md
  README.md
  ROADMAP.md
  SECURITY.md
  docs/architecture.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/settings.rs
  src-tauri/tauri.conf.json
  src/components/Settings.tsx
Due: typecheck, lint, rust-fmt, rust-clippy, toml-fmt

feat: add experimental Claude Code skills
  .claude/skills/llm-cost-optimization/README.md
  .claude/skills/llm-cost-optimization/SKILL.md
  .claude/skills/llm-cost-optimization/references/caching.md
  .claude/skills/llm-cost-optimization/references/prompts.md
  .claude/skills/llm-cost-optimization/references/triggers.md
  .claude/skills/oss-release-checklist/README.md
  .claude/skills/oss-release-checklist/SKILL.md
  .claude/skills/oss-release-checklist/references/legal.md
  .claude/skills/oss-release-checklist/references/privacy.md
  .claude/skills/oss-release-checklist/references/security.md
  .claude/skills/tauri-development/README.md
  .claude/skills/tauri-development/SKILL.md
  .claude/skills/tauri-development/references/debugging.md
  .claude/skills/tauri-development/references/distribution.md
  .claude/skills/tauri-development/references/secrets.md
  .claude/skills/tauri-development/references/shortcuts.md
  .claude/skills/tauri-development/references/signing.md
  .claude/skills/tdd/README.md
  .claude/skills/tdd/SKILL.md
  CLAUDE.md
Due: none

docs: add issue #53 to roadmap
  ROADMAP.md
Due: none

docs: simplify PR template and expand annotation tags guide
  .github/pull_request_template.md
  CLAUDE.md
  CONTRIBUTING.md
Due: none

wip: report issue feature
  .claude/handoff/report-issue-feature.md
  src-tauri/src/lib.rs
  src/App.tsx
  src/components/ReportIssue.tsx
  src/components/Settings.tsx
  src/vite-env.d.ts
Due: typecheck, lint, rust-fmt, rust-clippy

Path conditions:
  typecheck: any of: *.{ts,tsx}
  lint: any of: *.{ts,tsx,js,jsx,json}
  rust-fmt: any of: *.rs
  rust-clippy: any of: *.rs
  toml-fmt: any of: *.toml
