Repository ebiyy/traylingo: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, rust-fmt, rust-clippy, toml-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck
    lint:
      glob: "*.{ts,tsx,js,jsx,json}"
      run: pnpm biome check --staged --no-errors-on-unmatched
    rust-fmt:
      glob: "*.rs"
      run: cargo fmt --manifest-path src-tauri/Cargo.toml -- --check
    rust-clippy:
      glob: "*.rs"
      run: cargo clippy --manifest-path src-tauri/Cargo.toml -- -D warnings
    toml-fmt:
      glob: "*.toml"
      run: taplo fmt --check src-tauri/Cargo.toml
      skip:
        - run: "! command -v taplo > /dev/null"

feat: open external links in system browser instead of WebView
  CLAUDE.md
  src-tauri/src/lib.rs
  src/components/Settings.tsx
Due: typecheck, lint, rust-fmt, rust-clippy

chore: update roadmap with new bugs and completed notification support
  ROADMAP.md
Due: none

chore: add clean script for Tauri build artifacts
  package.json
Due: lint

fix: correct overflow classes for two-pane layout
  src/App.tsx
Due: typecheck, lint

chore: remove Sentry test button
  src/App.tsx
Due: typecheck, lint

fix: validate popup position within primary monitor bounds
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

feat: show popup near mouse cursor position
  src-tauri/src/lib.rs
  src/components/PopupView.tsx
Due: typecheck, lint, rust-fmt, rust-clippy

docs: reorganize roadmap with version-based sections
  ROADMAP.md
Due: none

fix: change popup shortcut from ⌘⌥J to ⌃⌥J to avoid conflicts
  .serena/memories/codebase_structure.md
  .serena/memories/project_overview.md
  README.md
  ROADMAP.md
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

fix: improve text selection visibility
  src/index.css
Due: none

docs: add GitHub badges to README
  README.md
Due: none

docs: update serena memories with focus restoration feature
  .serena/memories/codebase_structure.md
  .serena/memories/project_overview.md
Due: none

refactor: replace legacy console.error with Logger
  src/App.tsx
  src/components/Settings.tsx
Due: typecheck, lint

feat: add unified logging layer for development debugging
  .serena/memories/code_style_conventions.md
  .serena/memories/codebase_structure.md
  CLAUDE.md
  biome.json
  docs/logging.md
  package.json
  pnpm-lock.yaml
  src-tauri/src/lib.rs
  src/App.tsx
  src/components/PopupView.tsx
  src/components/Settings.tsx
  src/types/logging.ts
  src/utils/logger.ts
Due: typecheck, lint, rust-fmt, rust-clippy

fix: restore focus to previous app when popup closes
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy, toml-fmt

chore: add vite-env.d.ts for CSS module type declarations
  src/vite-env.d.ts
Due: typecheck, lint

fix: remove unused @tauri-apps/plugin-log package
  package.json
  pnpm-lock.yaml
Due: lint

docs: add prominent privacy warning comments for Sentry PII masking
  src-tauri/src/lib.rs
  src/index.tsx
Due: typecheck, lint, rust-fmt, rust-clippy

feat: add privacy policy and Sentry opt-out toggle
  PRIVACY.md
  README.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/settings.rs
  src/components/Settings.tsx
  src/index.tsx
Due: typecheck, lint, rust-fmt, rust-clippy, toml-fmt

fix: address pre-release security and bug issues
  ROADMAP.md
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/App.tsx
  src/components/PopupView.tsx
  src/index.tsx
Due: typecheck, lint, rust-fmt, rust-clippy

docs: add privacy policy to roadmap and update project memory
  .serena/memories/project_overview.md
  ROADMAP.md
Due: none

Release: Pre-v0.1.0 features and fixes (#25)
  .serena/memories/code_style_conventions.md
  .serena/memories/codebase_structure.md
  .serena/memories/project_overview.md
  CLAUDE.md
  PRIVACY.md
  README.md
  ROADMAP.md
  biome.json
  docs/logging.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/settings.rs
  src-tauri/tauri.conf.json
  src/App.tsx
  src/components/PopupView.tsx
  src/components/Settings.tsx
  src/index.css
  src/index.tsx
  src/types/logging.ts
  src/utils/logger.ts
  src/vite-env.d.ts
Due: typecheck, lint, rust-fmt, rust-clippy, toml-fmt

docs: document merge policy (squash disabled)
  CLAUDE.md
  CONTRIBUTING.md
Due: none

docs: move completed items to Completed section in roadmap
  ROADMAP.md
Due: none

fix: pre-warm clipboard and osascript to eliminate first-trigger timeout
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

fix: add fallback for intermittent multi-monitor detection
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

fix: prevent global shortcut from triggering twice
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

chore: add debug logging for multi-monitor detection
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

refactor: simplify popup positioning, remove complex monitor detection
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

feat: use tauri-plugin-positioner for tray-relative popup positioning
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy, toml-fmt

docs: move #21 to completed as won't fix (Tauri API limitation)
  ROADMAP.md
Due: none

docs: add #30 to roadmap (remove unreliable monitor API)
  ROADMAP.md
Due: none

ci: add npm license audit to CI workflow
  .github/workflows/ci.yml
  CLAUDE.md
  ROADMAP.md
  docs/legal-investigation.md
  package.json
  scripts/check-licenses.mjs
Due: lint

docs: add /resolve-conflicts slash command
  .claude/commands/resolve-conflicts.md
  CLAUDE.md
Due: none

docs: add self-improvement section to /resolve-conflicts
  .claude/commands/resolve-conflicts.md
Due: none

docs: fix documentation inconsistencies from legal review
  PRIVACY.md
  SECURITY.md
  docs/architecture.md
  docs/error-management.md
  docs/legal-investigation.md
Due: none
