Repository ebiyy/traylingo: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, rust-fmt, rust-clippy, toml-fmt

typecheck:
  run: pnpm typecheck

lint:
  run: pnpm biome check --staged --no-errors-on-unmatched

rust-fmt:
  run: cargo fmt --manifest-path src-tauri/Cargo.toml -- --check

rust-clippy:
  run: cargo clippy --manifest-path src-tauri/Cargo.toml -- -D warnings

toml-fmt:
  run: taplo fmt --check src-tauri/Cargo.toml
  skip:
  - run: '! command -v taplo > /dev/null'

docs: update panic handler docs with duplicate event fix
  docs/error-management.md
Due: none

docs: add native app debugging guide and update error management
  CLAUDE.md
  ROADMAP.md
  docs/error-management.md
Due: none

docs: remove external article reference from error-management
  docs/error-management.md
Due: none

fix(ci): remove duplicate pnpm version specification
  .github/workflows/release.yml
Due: none

Release: v0.1.1 CI fix (#37)
  .github/workflows/release.yml
Due: none

feat(sentry): add environment and allowUrls for noise reduction
  src-tauri/src/lib.rs
  src/index.tsx
Due: typecheck, lint, rust-fmt, rust-clippy

docs: update ROADMAP - mark completed tasks
  ROADMAP.md
Due: none

docs: add Homebrew installation instructions
  README.md
  ROADMAP.md
Due: none

ci: add workflow to auto-update Homebrew Cask via PR
  .github/workflows/update-homebrew.yml
Due: none

docs: add fork guidelines to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

feat: add custom DMG installer background
  src-tauri/icons/dmg-background.png
  src-tauri/icons/dmg-background.svg
  src-tauri/tauri.conf.json
Due: lint

chore: prepare release v0.1.2
  CHANGELOG.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: lint, toml-fmt

fix: add signing key password to release workflow
  .github/workflows/release.yml
Due: none

feat: add "About" dialog enhancement to tray menu
  ROADMAP.md
Due: none

fix: add debug step for signing key verification
  .github/workflows/release.yml
Due: none

Path conditions:
  typecheck: any of: *.{ts,tsx}
  lint: any of: *.{ts,tsx,js,jsx,json}
  rust-fmt: any of: *.rs
  rust-clippy: any of: *.rs
  toml-fmt: any of: *.toml
