Repository ebiyy/traylingo: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, rust-fmt, rust-clippy, toml-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck
    lint:
      glob: "*.{ts,tsx,js,jsx,json}"
      run: pnpm biome check --staged --no-errors-on-unmatched
    rust-fmt:
      glob: "*.rs"
      run: cargo fmt --manifest-path src-tauri/Cargo.toml -- --check
    rust-clippy:
      glob: "*.rs"
      run: cargo clippy --manifest-path src-tauri/Cargo.toml -- -D warnings
    toml-fmt:
      glob: "*.toml"
      run: taplo fmt --check src-tauri/Cargo.toml
      skip:
        - run: "! command -v taplo > /dev/null"

ci: add BSL-1.0 to allowed licenses
  src-tauri/deny.toml
Due: toml-fmt

ci: ignore Tauri's unmaintained transitive dependencies
  src-tauri/deny.toml
Due: toml-fmt

ci: add cargo-deny for vulnerability and license auditing (#18)
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .release-please-manifest.json
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .tool-versions
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  knip.json
  lefthook.yml
  mise.toml
  package.json
  pnpm-lock.yaml
  release-please-config.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/deny.toml
  src-tauri/src/anthropic.rs
  src-tauri/src/lib.rs
  src-tauri/src/settings.rs
  src/App.tsx
  src/index.tsx
Due: typecheck, lint, rust-fmt, rust-clippy, toml-fmt

feat: add Sentry error monitoring for Rust backend
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src/App.tsx
Due: typecheck, lint, rust-fmt, rust-clippy, toml-fmt

chore: add sentry-cli to development tools
  .tool-versions
Due: none

docs: document Sentry integration
  CLAUDE.md
  README.md
  ROADMAP.md
  docs/error-management.md
Due: none

docs: add cargo-deny to development documentation
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  CLAUDE.md
Due: none

ci: remove redundant push trigger for develop branch
  .github/workflows/ci.yml
Due: none

feat: add auto-updater dependencies
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: lint, toml-fmt

feat: configure updater with GitHub Releases endpoint
  src-tauri/tauri.conf.json
Due: lint

feat: add Check for Updates tray menu item
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

feat: add update notification handlers in frontend
  src/App.tsx
Due: typecheck, lint

ci: add signing key for updater in release workflow
  .github/workflows/release.yml
Due: none

docs: add auto-updater documentation
  docs/auto-updater.md
Due: none

docs: mark auto-update as completed in roadmap
  ROADMAP.md
Due: none

fix(ci): allow CDLA-Permissive-2.0 license for webpki-roots
  src-tauri/deny.toml
Due: toml-fmt

chore: remove Sentry test button
  src/App.tsx
Due: typecheck, lint

ci: remove redundant push trigger for develop branch (#19)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .tool-versions
  CLAUDE.md
  README.md
  ROADMAP.md
  docs/auto-updater.md
  docs/error-management.md
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/deny.toml
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/App.tsx
Due: typecheck, lint, rust-fmt, rust-clippy, toml-fmt

chore: add clean script for Tauri build artifacts
  package.json
Due: lint

fix: correct overflow classes for two-pane layout
  src/App.tsx
Due: typecheck, lint

fix: improve text selection visibility
  src/index.css
Due: none

fix: validate popup position within primary monitor bounds
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

docs: reorganize roadmap with version-based sections
  ROADMAP.md
Due: none

fix: change popup shortcut from ⌘⌥J to ⌃⌥J to avoid conflicts
  .serena/memories/codebase_structure.md
  .serena/memories/project_overview.md
  README.md
  ROADMAP.md
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

docs: add GitHub badges to README
  README.md
Due: none

feat: show popup near mouse cursor position
  src-tauri/src/lib.rs
  src/components/PopupView.tsx
Due: typecheck, lint, rust-fmt, rust-clippy

feat: add unified logging layer for development debugging
  .serena/memories/code_style_conventions.md
  .serena/memories/codebase_structure.md
  CLAUDE.md
  biome.json
  docs/logging.md
  package.json
  pnpm-lock.yaml
  src-tauri/src/lib.rs
  src/App.tsx
  src/components/PopupView.tsx
  src/components/Settings.tsx
  src/types/logging.ts
  src/utils/logger.ts
Due: typecheck, lint, rust-fmt, rust-clippy

refactor: replace legacy console.error with Logger
  src/App.tsx
  src/components/Settings.tsx
Due: typecheck, lint

fix: restore focus to previous app when popup closes
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy, toml-fmt

docs: update serena memories with focus restoration feature
  .serena/memories/codebase_structure.md
  .serena/memories/project_overview.md
Due: none

fix: remove unused @tauri-apps/plugin-log package
  package.json
  pnpm-lock.yaml
Due: lint

chore: add vite-env.d.ts for CSS module type declarations
  src/vite-env.d.ts
Due: typecheck, lint

fix: address pre-release security and bug issues
  ROADMAP.md
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/App.tsx
  src/components/PopupView.tsx
  src/index.tsx
Due: typecheck, lint, rust-fmt, rust-clippy

docs: add prominent privacy warning comments for Sentry PII masking
  src-tauri/src/lib.rs
  src/index.tsx
Due: typecheck, lint, rust-fmt, rust-clippy

feat: add privacy policy and Sentry opt-out toggle
  PRIVACY.md
  README.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/settings.rs
  src/components/Settings.tsx
  src/index.tsx
Due: typecheck, lint, rust-fmt, rust-clippy, toml-fmt

docs: add privacy policy to roadmap and update project memory
  .serena/memories/project_overview.md
  ROADMAP.md
Due: none
