Repository ebiyy/traylingo: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, rust-fmt, rust-clippy, toml-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck
    lint:
      glob: "*.{ts,tsx,js,jsx,json}"
      run: pnpm biome check --staged --no-errors-on-unmatched
    rust-fmt:
      glob: "*.rs"
      run: cargo fmt --manifest-path src-tauri/Cargo.toml -- --check
    rust-clippy:
      glob: "*.rs"
      run: cargo clippy --manifest-path src-tauri/Cargo.toml -- -D warnings
    toml-fmt:
      glob: "*.toml"
      run: taplo fmt --check src-tauri/Cargo.toml
      skip:
        - run: "! command -v taplo > /dev/null"

ci: add npm license audit and legal documentation (#31)
  .claude/commands/resolve-conflicts.md
  .github/workflows/ci.yml
  CLAUDE.md
  CONTRIBUTING.md
  PRIVACY.md
  ROADMAP.md
  SECURITY.md
  docs/architecture.md
  docs/error-management.md
  package.json
  scripts/check-licenses.mjs
  src-tauri/src/lib.rs
Due: lint, rust-fmt, rust-clippy

ci: add npm license audit and legal documentation (#31)
  .claude/commands/resolve-conflicts.md
  .github/workflows/ci.yml
  CLAUDE.md
  CONTRIBUTING.md
  PRIVACY.md
  ROADMAP.md
  SECURITY.md
  docs/architecture.md
  docs/error-management.md
  docs/legal-investigation.md
  package.json
  scripts/check-licenses.mjs
  src-tauri/src/lib.rs
Due: lint, rust-fmt, rust-clippy

ci: add PR rules validation for main branch
  .github/workflows/pr-rules.yml
Due: none

Release: Add PR rules validation (#32)
  .github/workflows/pr-rules.yml
Due: none

docs: update PR rules and merge policy documentation
  CLAUDE.md
  CONTRIBUTING.md
Due: none

chore: prepare release v0.1.1
  CHANGELOG.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: lint, toml-fmt

ci: allow release/* branches in PR rules validation
  .github/workflows/pr-rules.yml
  CLAUDE.md
  CONTRIBUTING.md
Due: none

Release: v0.1.1 (#33)
  .github/workflows/pr-rules.yml
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: lint, toml-fmt

docs: address re-review feedback on legal documentation
  PRIVACY.md
  ROADMAP.md
  SECURITY.md
Due: none

Release: Sync documentation updates (#34)
  PRIVACY.md
  ROADMAP.md
  SECURITY.md
Due: none

fix: ensure Rust panics are captured by Sentry before process abort
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

docs: add native app debugging guide and update error management
  CLAUDE.md
  ROADMAP.md
  docs/error-management.md
Due: none

fix: prevent duplicate panic events in Sentry
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

docs: update panic handler docs with duplicate event fix
  docs/error-management.md
Due: none

fix: update release notes to reference Anthropic API key
  .github/workflows/release.yml
Due: none

docs: remove external article reference from error-management
  docs/error-management.md
Due: none

refactor: extract system prompt constant and fix log format
  ROADMAP.md
  src-tauri/src/anthropic.rs
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy
