Repository ebiyy/traylingo: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, rust-fmt, rust-clippy, toml-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck
    lint:
      glob: "*.{ts,tsx,js,jsx,json}"
      run: pnpm biome check --staged --no-errors-on-unmatched
    rust-fmt:
      glob: "*.rs"
      run: cargo fmt --manifest-path src-tauri/Cargo.toml -- --check
    rust-clippy:
      glob: "*.rs"
      run: cargo clippy --manifest-path src-tauri/Cargo.toml -- -D warnings
    toml-fmt:
      glob: "*.toml"
      run: taplo fmt --check src-tauri/Cargo.toml
      skip:
        - run: "! command -v taplo > /dev/null"

fix: add debug step for signing key verification
  .github/workflows/release.yml
Due: none

feat: add "About" dialog enhancement to tray menu
  ROADMAP.md
Due: none

fix: use tauri-action v0.5.16 to fix updater signature issue
  .github/workflows/release.yml
Due: none

fix: enable createUpdaterArtifacts for updater support
  src-tauri/tauri.conf.json
Due: lint

fix: remove unused password env var from release workflow
  .github/workflows/release.yml
Due: none

fix: set empty string for signing key password
  .github/workflows/release.yml
Due: none

feat: privacy and security improvements for OSS release
  .serena/memories/code_style_conventions.md
  PRIVACY.md
  README.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/anthropic.rs
  src-tauri/src/lib.rs
  src-tauri/src/settings.rs
  src/components/Settings.tsx
  src/index.tsx
  src/types/error.ts
Due: typecheck, lint, rust-fmt, rust-clippy, toml-fmt

fix: set empty string for signing key password (#44)
  .github/workflows/release.yml
  .serena/memories/code_style_conventions.md
  PRIVACY.md
  README.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/anthropic.rs
  src-tauri/src/lib.rs
  src-tauri/src/settings.rs
  src/components/Settings.tsx
  src/index.tsx
  src/types/error.ts
Due: typecheck, lint, rust-fmt, rust-clippy, toml-fmt

chore: update signing public key
  src-tauri/tauri.conf.json
Due: lint

chore: update signing public key (#45)
  src-tauri/tauri.conf.json
Due: lint

fix: use file path approach for signing key
  .github/workflows/release.yml
  src-tauri/tauri.conf.json
Due: lint

Release: v0.1.2 - fix signing key approach (#46)
  .github/workflows/release.yml
  src-tauri/tauri.conf.json
Due: lint

fix: use fixed path for signing key file
  .github/workflows/release.yml
Due: none

fix: use fixed path for signing key file (#47)
  .github/workflows/release.yml
Due: none

fix: remove trailing newline from key file
  .github/workflows/release.yml
Due: none

fix: remove trailing newline from key file (#48)
  .github/workflows/release.yml
Due: none

docs: add native app debugging guide and update error management
  ROADMAP.md
  docs/error-management.md
Due: none

Release: Sync documentation updates (#34)
  ROADMAP.md
Due: none

refactor: extract system prompt constant and fix log format
  ROADMAP.md
  src-tauri/src/anthropic.rs
Due: rust-fmt, rust-clippy

docs: add Homebrew installation instructions
  ROADMAP.md
Due: none

feat: store API key in macOS Keychain instead of plain text
  PRIVACY.md
  SECURITY.md
  src-tauri/src/anthropic.rs
  src-tauri/src/keychain.rs
  src-tauri/src/lib.rs
  src-tauri/src/settings.rs
  src/components/Settings.tsx
Due: typecheck, lint, rust-fmt, rust-clippy

fix: use absolute path for security command
  src-tauri/src/keychain.rs
Due: rust-fmt, rust-clippy

chore: prepare release v0.1.3
  CHANGELOG.md
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: lint, toml-fmt

Release: v0.1.3 (#49)
  CHANGELOG.md
  PRIVACY.md
  ROADMAP.md
  SECURITY.md
  docs/error-management.md
  package.json
  src-tauri/Cargo.toml
  src-tauri/src/keychain.rs
  src-tauri/src/lib.rs
  src-tauri/src/settings.rs
  src-tauri/tauri.conf.json
  src/components/Settings.tsx
Due: typecheck, lint, rust-fmt, rust-clippy, toml-fmt

docs: sync documentation with code implementation
  .serena/memories/codebase_structure.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  docs/architecture.md
Due: none
